# =============================================================================
# 1. LLM API Configuration
# =============================================================================

# for Local Model Serving mode
# You can set a commercial API key and endpoint here 
# if you want to use a commercial API instead of the local model server.

API_KEY=your_api_key
BASE_URL=http://127.0.0.1:8000/v1
MODEL_NAME=AHAT_MODEL


# =============================================================================
# 2. External Tools Configuration
# =============================================================================

# [Required] Fast Downward Path
# Required for: Task Planner, TGPO Training
# Point this to the 'fast-downward.py' executable script.
FAST_DOWNWARD_PATH=/path/to/fast-downward/fast-downward.py
