# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
.env

# pytest cache
.pytest_cache/

# macOS
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/

.sii/
.vscode/

outputs/
models/
data/
